@import "tailwindcss";

/* index.css */
body.light {
  background-color: #ffffff;
  color: #111827;
  transition: all 0.3s;
}

body.dark {
  background-color: #0f172a;
  color: #f1f5f9;
  transition: all 0.3s;
}

.heroBanner {
  background: url(/public/hero-banner-main.jpg) no-repeat center center;
  background-size: cover;
  min-height: 80vh;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}